block head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	title
		| #{data.brand.name} &middot; #{pageTitle}
	meta(name="description" content="")
	meta(name="theme-color" content= data.brand.color)
	// Open Graph
	meta(property="og:title" content= data.brand.name)
	meta(property="og:description" content="")
	meta(property="og:type" content="website")
	meta(property="og:url" content= baseUrl)
	meta(property="og:image" content=`${baseUrl}${imagesPath}/og-image.png?${timestamp}`)
	meta(property="og:site_name" content= data.brand.name)
	// Images
	link(rel="icon" href=`${baseUrl}${imagesPath}/favicon.png`)
	link(rel="icon" href=`${baseUrl}${imagesPath}/icon.svg` type="image/svg+xml")
	link(rel="apple-touch-icon" href=`${baseUrl}${imagesPath}/apple-touch-icon.png`)
	// CSS
	link(href=`${assetsPath}/stylesheets/styles.css` rel="stylesheet")
