extends ../_layouts/default.pug
block append variables
	- var pageTitle = 'Дмитрий Чумаков';
	- var pageDescription = 'Комитет';
block content
	.screen
		main.screen__main(role="main")
			each item, i in data.members
				if i === 7
					- var coverUrl = imagesPath + '/' + item.slug + '-cover.jpg';
					article.member(style="background-image:url(" + coverUrl + ");")
						header.member__header
							h1.title.title_size_h1.title_theme_dark
								| #{item.name[0]} #{item.name[1]}
							p.text.text_size_medium.text_theme_dark
								| #{item.duties}
							p.text.text_size_medium.text_theme_dark
								| #{item.experience[0]}&ndash;#{item.experience[1]}
						footer.member__footer
							p.text.text_size_small.text_theme_dark
								| #{item.about}
		footer.screen__footer(role="contentinfo")
			each item, i in data.members
				if i === 6
					- var prevUrl = '/' + item.slug + '/';
					a.button.button_size_m.button_theme_secondary(href=`${baseUrl}${prevUrl}${indexUrl}`)
						| &larr;
			a.button.button_size_m.button_theme_primary(href=`${baseUrl}/${indexUrl}`)
				| Перейти на обшее фото
			each item, i in data.members
				if i === 8
					- var nextUrl = '/' + item.slug + '/';
					a.button.button_size_m.button_theme_secondary(href=`${baseUrl}${nextUrl}${indexUrl}`)
						| &rarr;
