extends ../_layouts/default.pug
block append variables
	- var pageTitle = 'Схема участников';
	- var pageDescription = 'Комитет';
block content
	.screen
		main.screen__main(role="main")
			- var userpicUrl = imagesPath + '/userpic.png';
			.scheme
				ul.scheme__list
					each val, i in data.members
						if i < 4
							li.scheme__list-item
								a(href=`${baseUrl}/${val.slug}/${indexUrl}`)(class=(i > 0 && i <= 2 ? 'scheme-member scheme-member_size_medium' : 'scheme-member scheme-member_size_small'))
									.scheme-member__userpic
										.scheme-member__userpic-image(style="background-image:url(" + userpicUrl + ");")
										span.scheme-member__userpic-focus-ring
									.scheme-member__caption
										.scheme-member__firstname
											| #{val.name[0]}
										.scheme-member__lastname
											| #{val.name[1]}
					br/
					each val, i in data.members
						if i > 3 && i < 6
							li.scheme__list-item
								a(href=`${baseUrl}/${val.slug}/${indexUrl}`)(class=(i > 4 ? 'scheme-member scheme-member_size_medium' : 'scheme-member scheme-member_size_small'))
									.scheme-member__userpic
										.scheme-member__userpic-image(style="background-image:url(" + userpicUrl + ");")
										span.scheme-member__userpic-focus-ring
									.scheme-member__caption
										.scheme-member__firstname
											| #{val.name[0]}
										.scheme-member__lastname
											| #{val.name[1]}
						if i > 5 && i < 8
							li.scheme__list-item
								a.scheme-member.scheme-member_size_large(href=`${baseUrl}/${val.slug}/${indexUrl}`)
									.scheme-member__userpic
										.scheme-member__userpic-image(style="background-image:url(" + userpicUrl + ");")
										span.scheme-member__userpic-focus-ring
									.scheme-member__caption
										.scheme-member__firstname
											| #{val.name[0]}
										.scheme-member__lastname
											| #{val.name[1]}
						if i > 7 && i < 10
							li.scheme__list-item
								a(href=`${baseUrl}/${val.slug}/${indexUrl}`)(class=(i < 9 ? 'scheme-member scheme-member_size_medium' : 'scheme-member scheme-member_size_small'))
									.scheme-member__userpic
										.scheme-member__userpic-image(style="background-image:url(" + userpicUrl + ");")
										span.scheme-member__userpic-focus-ring
									.scheme-member__caption
										.scheme-member__firstname
											| #{val.name[0]}
										.scheme-member__lastname
											| #{val.name[1]}
					br/
					each val, i in data.members
						if i > 9
							li.scheme__list-item
								a(href=`${baseUrl}/${val.slug}/${indexUrl}`)(class=(i != 11 ? 'scheme-member scheme-member_size_small' : 'scheme-member scheme-member_size_medium'))
									.scheme-member__userpic
										.scheme-member__userpic-image(style="background-image:url(" + userpicUrl + ");")
										span.scheme-member__userpic-focus-ring
									.scheme-member__caption
										.scheme-member__firstname
											| #{val.name[0]}
										.scheme-member__lastname
											| #{val.name[1]}
		footer.screen__footer(role="contentinfo")
			a.button.button_size_m.button_theme_primary(href=`${baseUrl}/${indexUrl}`)
				| Перейти на обшее фото
